.ToolBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ToolBar-control, .ToolBar-property {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ToolBar button, .ToolBar label {
  margin: 0 4px;
}

.ToolBar button {
  cursor: pointer;
}
